---
import { getCollection } from "astro:content";
import BlogLayout from "../../layouts/BlogLayout.astro";
export async function getStaticPaths() {
    const blogEntries = await getCollection("blog");
    return blogEntries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BlogLayout title="blog">
    <main class="min-h-screen">
        <h1 class="text-4xl m-8 text-center">{entry.data.title}</h1>
        <article
            class="prose lg:prose-xl dark:prose-invert prose-a:text-green-500 mx-8"
        >
            <Content />
        </article>
    </main>
</BlogLayout>
