---
import { getCollection } from "astro:content";
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
const blogEntries = await getCollection("blog");
---

<Layout title="Surawich Sittisarn">
    <main class="min-h-screen">
        <ul class="mx-4">
            {
                blogEntries.map((blogPostEntry) => (
                    <li>
                        <Card
                            blog={blogPostEntry.data}
                            link={blogPostEntry.slug}
                        />
                    </li>
                ))
            }
        </ul>
    </main>
</Layout>
