---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { getCollection } from "astro:content";
const blogEntries = await getCollection("blog");
console.log(blogEntries);
---

<Layout title="It's me Tonian.me">
    <main>
        <ul>
            {
                blogEntries.map((blogPostEntry) => (
                    <li class="w-full">
                        <a href={`/posts/${blogPostEntry.slug}`}>
                            <Card blog={blogPostEntry.data} />
                        </a>
                    </li>
                ))
            }
        </ul>
    </main>
</Layout>
