---
import { AiFillGithub } from "react-icons/ai";
---

<section class="text-center my-8 mx-4">
    <a href="/">
        <h1 class="text-3xl tracking-wider cursor-pointer">
            Surawich Sittisarn
        </h1>
    </a>
    <a
        class="absolute right-0 top-0 m-8"
        href="https://github.com/surawich-s"
        target="_blank"
        rel="noreferrer"
    >
        <div class="flex flex-row items-center">
            <AiFillGithub className="w-8 h-8" />
        </div>
    </a>
</section>
