---
import NavLink from "./NavLink.astro";
---

<header
    class="flex flex-col sm:flex-row items-start sm:items-center gap-x-4 my-8 mx-4"
>
    <a href="/">
        <h1 class="text-xl tracking-wider cursor-pointer">
            Surawich Sittisarn
        </h1>
    </a>
    <NavLink title="Blog" link="/" />
    <NavLink
        title="Github"
        link="https://github.com/surawich-s"
        internal={false}
    />
</header>
