<header class="flex flex-row items-center gap-x-4 my-8 mx-4">
    <a href="/">
        <h1 class="text-xl tracking-wider cursor-pointer">
            Surawich Sittisarn
        </h1>
    </a>
    <a href="https://github.com/surawich-s" target="_blank" rel="noreferrer">
        [ Github ]
    </a>
</header>
