---
interface Props {
    title: string;
    link: string;
    internal?: boolean;
}
const { title, link, internal = true } = Astro.props;
const target = internal ? "_self" : "_blank";
---

<a href={link} target={target} rel="noreferrer">
    [ {title} ]
</a>
